{% extends 'users/auth_base.html' %}
{% load static %}

{% block auth_title %}Login{% endblock auth_title %}

{% block auth_content %}
<form class="col-lg-3 col-md-4 col-10 mx-auto text-center" method="post">
    {% csrf_token %}
    <a class="navbar-brand mx-auto mt-2 flex-fill text-center" href="/">
      {# Replace with your logo #}
      <svg version="1.1" id="logo" class="navbar-brand-img brand-md" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 120 120" xml:space="preserve">
        <g><polygon class="st0" points="78,105 15,105 24,87 87,87"/><polygon class="st0" points="96,69 33,69 42,51 105,51"/><polygon class="st0" points="78,33 15,33 24,15 87,15"/></g>
      </svg>
    </a>
    <h1 class="h6 mb-3">Sign in</h1>

    {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            {% for error in form.non_field_errors %}
                {{ error }}
            {% endfor %}
        </div>
    {% endif %}

    <div class="form-group">
      <label for="id_email" class="sr-only">Email address</label>
      {{ form.email }}
      {% if form.email.errors %}
          <div class="invalid-feedback d-block">
              {% for error in form.email.errors %}{{ error }}{% endfor %}
          </div>
      {% endif %}
    </div>
    <div class="form-group">
      <label for="id_password" class="sr-only">Password</label>
      {{ form.password }}
       {% if form.password.errors %}
          <div class="invalid-feedback d-block">
              {% for error in form.password.errors %}{{ error }}{% endfor %}
          </div>
      {% endif %}
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Let me in</button>
    <p class="mt-3">Don't have an account? <a href="{% url 'client_register' %}">Register here</a></p> {# Link to client registration #}
    {# <p><a href="#">Forgot password?</a></p> #}
    <p class="mt-5 mb-3 text-muted">© {% now "Y" %}</p>
</form>
{% endblock auth_content %}