{% load static %}
<nav class="topnav navbar navbar-light">
    <button type="button" class="navbar-toggler text-muted mt-2 p-0 mr-3 collapseSidebar">
        <i class="fe fe-menu navbar-toggler-icon"></i>
    </button>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link text-muted my-2" href="#" id="modeSwitcher" data-mode="light">
                <i class="fe fe-sun fe-16"></i>
            </a>
        </li>
        <li class="nav-item">
            <span class="nav-link text my-2">Welcome, {{ request.user.full_name|default:request.user.email }}</span>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-muted pr-0" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="avatar avatar-sm mt-2">
            <img src="{% static 'assets/images/profile.png' %}" alt="..." class="avatar-img rounded-circle">
          </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{% url 'user_logout' %}">Logout</a>
            </div>
        </li>
    </ul>
</nav>

<aside class="sidebar-left border-right bg-white shadow" id="leftSidebar" data-simplebar>
    <a href="#" class="btn collapseSidebar toggle-btn d-lg-none text-muted ml-2 mt-3" data-toggle="toggle">
        <i class="fe fe-x"><span class="sr-only">Close</span></i>
    </a>
    <nav class="vertnav navbar navbar-light">
        <div class="w-100 mb-4 d-flex">
            <a class="navbar-brand mx-auto mt-2 flex-fill text-center" href="{% if request.user.is_employee %}{% url 'employee_dashboard' %}{% else %}{% url 'client_dashboard' %}{% endif %}">
                <img height="50px" width="150px" src="{% static 'assets/images/logo.png' %}">
            </a>
        </div>

        {% if request.user.is_employee %}
            <ul class="navbar-nav flex-fill w-100 mb-2">
                <li class="nav-item w-100">
                    <a class="nav-link" href="{% url 'employee_dashboard' %}"><i class="fe fe-home fe-16"></i><span class="ml-3 item-text">Dashboard</span></a>
                </li>
                <li class="nav-item w-100">
                    <a class="nav-link" href="{% url 'manage_employees' %}"><i class="fe fe-users fe-16"></i><span class="ml-3 item-text">Employees</span></a>
                </li>
                <li class="nav-item w-100">
                    <a class="nav-link" href="{% url 'manage_clients' %}"><i class="fe fe-user-check fe-16"></i><span class="ml-3 item-text">Clients</span></a>
                </li>
                <li class="nav-item w-100">
                    <a class="nav-link" href="{% url 'issue_certificate' %}"><i class="fe fe-file-plus fe-16"></i><span class="ml-3 item-text">Issue Certificate</span></a>
                </li>
                <li class="nav-item w-100">
                    <a class="nav-link" href="{% url 'bulk_issue_certificates' %}"><i class="fe fe-file-text fe-16"></i><span class="ml-3 item-text">Bulk Issue Certs</span></a>
                </li>
                <li class="nav-item w-100">
                    <a class="nav-link" href="{% url 'issued_certificates' %}"><i class="fe fe-list fe-16"></i><span class="ml-3 item-text">Issued Certificates</span></a>
                </li>
            </ul>
            <p class="text-muted nav-heading mt-4 mb-1"><span>Management</span></p>
            <ul class="navbar-nav flex-fill w-100 mb-2">
                <li class="nav-item w-100">
                    <a class="nav-link" href="{% url 'manage_certification_types' %}"><i class="fe fe-award fe-16"></i><span class="ml-3 item-text">Cert Types</span></a>
                </li>
                <li class="nav-item w-100">
                    <a class="nav-link" href="{% url 'manage_courses' %}"><i class="fe fe-book-open fe-16"></i><span class="ml-3 item-text">Courses</span></a>
                </li>
                <li class="nav-item w-100">
                    <a class="nav-link" href="{% url 'manage_skills' %}"><i class="fe fe-star fe-16"></i><span class="ml-3 item-text">Skills</span></a>
                </li>
                <li class="nav-item w-100">
                    <a class="nav-link" href="{% url 'event_list_admin' %}"><i class="fe fe-calendar fe-16"></i><span class="ml-3 item-text">Events</span></a>
                </li>
            </ul>

        {% else %}
            <ul class="navbar-nav flex-fill w-100 mb-2">
                <li class="nav-item w-100">
                    <a class="nav-link" href="{% url 'client_dashboard' %}"><i class="fe fe-home fe-16"></i><span class="ml-3 item-text">Dashboard</span></a>
                </li>
                <li class="nav-item w-100">
                    <a class="nav-link" href="{% url 'my_certificates' %}"><i class="fe fe-award fe-16"></i><span class="ml-3 item-text">My Certificates</span></a>
                </li>
                <li class="nav-item w-100">
                    <a class="nav-link" href="{% url 'my_schedule' %}"><i class="fe fe-calendar fe-16"></i><span class="ml-3 item-text">My Schedule</span></a>
                </li>
                <li class="nav-item w-100">
                    <a class="nav-link" href="{% url 'available_courses' %}"><i class="fe fe-book-open fe-16"></i><span class="ml-3 item-text">Available Courses</span></a>
                </li>
                <li class="nav-item w-100">
                    <a class="nav-link" href="{% url 'my_event_registrations' %}"><i class="fe fe-clipboard fe-16"></i><span class="ml-3 item-text">My Event Registrations</span></a>
                </li>
            </ul>
        {% endif %}

        <p class="text-muted nav-heading mt-4 mb-1"><span>Account</span></p>
        <ul class="navbar-nav flex-fill w-100 mb-2">
            <li class="nav-item w-100">
                <a class="nav-link" href="{% url 'user_logout' %}"><i class="fe fe-log-out fe-16"></i><span class="ml-3 item-text">Logout</span></a>
            </li>
        </ul>
    </nav>
</aside>
